/* style.css */

/* Reset cơ bản */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 100;
    position: absolute;
    width: 100%; 
}

.navbar .logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

.navbar .nav-links .login-btn {
    padding: 15px 40px;
    background-color: white;
    color: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
    transition: transform 0.2s ease-out;
}

.navbar .nav-links .login-btn:hover {
    transform: scale(1.05);
}
.user-info {
    color: white;
    font-weight: 600;
    font-size: 17px;
    margin-left: auto;
    margin-right: 10px;
}


/* Hero Section */
.hero {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 2rem;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center center/cover;
    z-index: -1;
    filter: brightness(0.6);
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 900;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .nav-links {
        margin-top: 0.5rem;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 1rem;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .navbar .nav-links .login-btn {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }
}
